<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.BdcAddressMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.model.BdcAddress">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="town" jdbcType="VARCHAR" property="town"/>
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
    </resultMap>
    <resultMap id="AreaMap" type="com.example.demo.model.BdcAddress">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="town" jdbcType="VARCHAR" property="town"/>
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
        <collection property="areas" javaType="java.util.ArrayList" ofType="com.example.demo.model.BdcArea">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="area_id" jdbcType="INTEGER" property="areaId"/>
            <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
            <result column="area_address" jdbcType="VARCHAR" property="areaAddress"/>
            <result column="type_id" jdbcType="VARCHAR" property="typeId"/>
        </collection>
    </resultMap>

    <select id="getAddressByAreaId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from bdc_address where area_id = #{areaId}
    </select>

    <select id="getAreasByAddressId" resultMap="AreaMap">
        select ad.id,
        ad.province,
        ad.city,
        ad.country,
        ad.town,
        ar.id AS id,
        ar.area_id AS areaId,
        ar.area_name AS areaName,
        ar.area_address AS areaAddress,
        ar.type_id AS typeId
        from bdc_address ad LEFT JOIN bdc_area ar
        on ar.address_id = ad.id
    </select>


</mapper>
