<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.BdcAreaMapper">
  <resultMap id="bdcArea" type="com.example.demo.model.BdcArea">
    <id column="id" property="id"/>
    <result column="area_name" property="areaName"/>
    <result column="user_id" property="userId"/>
    <result column="address_id" property="addressId"/>
    <result column="create_time" property="createTime"/>
  </resultMap>
  <select id="findAreaByAreaNameAndUserName" parameterType="String" resultMap="bdcArea">
    select * from bdc_area where area_name like #{areaName} and user_id = #{userId}
  </select>
</mapper>
